body {
    background-color: blanchedalmond;
    font-family: 'Montserrat Alternates', sans-serif;   
}
h1, h2, h5 {
    font-weight: bolder;
    text-align: center;
    color: brown;
} 
h5 {
    background-color: blanchedalmond;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    background-color: blanchedalmond;
    padding: 32px;
  }
  
.grid-container > div {
    background-color: #D3D3D3;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
  }
  
footer p.highlight {
    color:brown;
    font-size: .8em;
    margin-top: 0;
}
footer {
    clear:both;
    text-align: center;
}