.table-container {
    font-family: Ubuntu, sans-serif;
    border-collapse: collapse;
    width: 50%;
    box-shadow: 5px 10px 8px #7fb9c2;
  }
  
  .table-container td, .table-container th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .table-container tr:nth-child(even){background-color: #e7ffed;}
  
  .table-container td:hover {background-color: #7fb9c2; color: white;}
  
.table-container th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #7fb9c2;
    color:black;
}
tfoot{
    background-color: #7fb9c2;
}
