#pricing-main {
   position: center;
}
p, h1 {
    color: white;
}
.full{
    position: relative;
    width: 500px;
    background-image: linear-gradient(gray, lightblue);
    

}
#main{
    padding-left: 300px;
}
.img-left {
    width: 25px;
    position: absolute;
    right: 1200px;
    top: 50px;
    bottom: 100px;
}
.img-right {
    width: 25px;
    position: absolute;
    left: 400px;
    top: 50px;
    bottom: 200px;
}    
.overlay {
    position: absolute;
    width: 200px;
    left: 100px;
    top: 75%;
    color:black;
}
.img1, .img2, .img3, .img4 {
    width: 115px;
    margin: 5px;
}
.icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    bottom: -280px;

}
