body {
    background-color:#0066b2;
    font-family: 'PT Mono', monospace;
    margin:0 auto;
}
header{
    background-color:white;
    padding: 5px 0;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.tittle {
    text-align: center;
}
.logo {
    width: 88px;
    height: 88px;
    align-items: center;
    margin-left: 400px;
}
h1, h2, h3{
    color: black;
    text-align: center;
}
.p1 {
    color: black;
    margin-top: 150px;
    margin-left: -500px;
}

img {
    width: 300px; 
    height: 300px; 
    margin: .5rem;
}


div {
    margin: 1rem auto; 
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    max-width: 1048px;
    align-content: center;
    margin-right: 175px;
} 

.loading:hover {
    box-shadow: 0 0 50px yellow;
    border-radius: 5px 150px;
}
figcaption {
    font-size: medium;
}
h2 {
    color: black;
    text-align: center;
}
nav {
    margin: 0 auto;
    max-width: 360px;
    background-color: lightblue;
} 
#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}
#navigation li:first-child{
    display: block;
}

#navigation li {
    display: none;
    margin-left: 50px;
}
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color:yellow;
    font-weight: bold;
}

#navigation a:hover{
    color: white;
    background-color: black;
}

#navigation.responsive li {
    display: block;
}

@media only screen and (min-width: 600px){
    nav {
        max-width: 100%;
    }  
    #navigation {
        grid-template-columns: repeat(7, auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }

    #navigation li:first-child {
        display: none;
    }
}
@media (min-width: 600px) {	.gallery { grid-template-columns: repeat(2, 1fr); }  }
@media (min-width: 900px) {	.gallery { grid-template-columns: repeat(3, 1fr); }  }
.footer, #lastupdated {
    color: black;
    text-align: center;
    background-color: white;
}           