body {
    background-color:white;
    font-family: 'PT Mono', monospace;
    margin:0 auto;
}
header{
    background-color:white;
    padding: 5px 0;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.weather-pic{
    width: 100%;
    margin: 2% 2% 2% 0;
    position: relative;

}
.summary{
    opacity: 0.8;
    background-color: rgb(236, 236, 130);
    display: block;
    position: absolute;
    width: 300px;
    left: 100px;
    top: 60%;
    font-weight:bold;
    padding-left: 10px;
 
}
.sum{
    color: black;
}
img {
    width:100px;
}
.devo{
    float: right;
    width: 300px;
    height: 300px;
    margin:10px;
}
h1, h2, h3{
    color: black;
    text-align: center;
}
.p1 {
    color: black;
    margin-top: 90px;
    margin-left: -290px;
}
p {
    color: white;
}
.article{
    background-color: #0066b2;
}
    
.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 1rem;;
}
.grid-item{
    background-color: #0066b2;
    text-align: center;
}   

.tittle {
    text-align: center;
}
.logo {
    width: 88px;
    height: 88px;
}
.map {
    width: 200px;
    height: 200px;
    
}
nav {
    margin: 0 auto;
    max-width: 360px;
    background-color: lightblue;
}

#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child{
    display: block;
}

#navigation li {
    display: none;
}
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    color:yellow;
    font-weight: bold;
}

#navigation a:hover{
    color: white;
    background-color: black;
}

#navigation.responsive li {
    display: block;
}

@media only screen and (min-width: 32.5em){
    nav {
        max-width: 100%;
    }  
    #navigation {
        grid-template-columns: repeat(7, auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }

    #navigation li:first-child{
        display: none;
    }

}

.footer, #lastupdated {
    color: white;
    text-align: center;
}
marquee {
    color: #e0dfdc;
    text-size-adjust: 20px;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}
